@variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@layer base {
  body {
    @apply bg-white;
  }

  .dark body {
    @apply bg-gray-950;
  }
}

/* Define font variable */
:root {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

/* Apply globally */
body {
  font-family: var(--font-sans);
}
