@config {
  darkmode: "class";
}

@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900;
  }

  .dark body {
    @apply bg-gray-950 text-gray-100;
  }
}

/* Define font variable */
:root {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

/* Apply globally */
body {
  font-family: var(--font-sans);
}
